#Intro
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  background-color: #E5E6E9

  div
    margin: 0 2rem

  h2
    margin-bottom: 4rem
    text-align: center
    font-size: 3rem

  p
    text-align: center
    font-size: 1.5rem

  img
    width: 20rem
    max-width: 20rem

@media screen and ( max-width: 768px )
  #Intro
    flex-direction: column-reverse
    padding: 0 2rem

    div
      margin: 0

    h2
      margin-bottom: 1rem

    img
      max-width: 100%
      margin-bottom: 2rem
