#Intro
  display: flex
  justify-content: center
  align-items: center
  min-height: calc(100vh - 5rem)
  background-color: #E5E6E9

  div
    margin: 0 2rem

  h2
    margin-bottom: 4rem
    text-align: center
    font-size: 3rem

  p
    text-align: center
    font-size: 1.5rem

  img
    max-width: 31.25rem

@media screen and ( max-width: 768px )
  #Intro
    flex-direction: column-reverse

    div
      margin: 0

    h2
      margin-bottom: 1rem

    img
      max-width: 100%
      margin-bottom: 2rem
