body
  font-size: 16px
  font-family: Arial, Helvetica, sans-serif
  line-height: 1.4
  
*, h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  box-sizing: border-box

li
  list-style: none

.top-nav
  position: fixed
  top: 0
  left: 0
  z-index: 1000
  display: flex
  align-content: center
  align-items: center
  width: 100vw
  min-height: 5rem
  padding: 0 2.5rem
  font-size: 1.5rem
  color: #FFFFFF
  background-color: rgba(0, 0, 0, 0.8)
  backdrop-filter: blur(10px)

  h1
    margin-right: 6rem

  ul
    display: flex
    align-content: center
  
  li
    margin-right: 4rem

  a
    text-decoration: none
    color: inherit
    transition: 500ms
    cursor: pointer

    &.active
      color: #FF90F2

@media screen and ( max-width: 768px )
  .top-nav
    display: none